.center {
    width: 100%;
    margin: auto;
    text-align: center;
}

.nav {
    color: aqua;
    font-size: large;
}

li {
    list-style: none;
}

body {
    background-color: azure;
    background-image: url("/images/skara-brae.jpg");
}

